@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Products</h1>

@foreach (var product in Model.Products)
{
    <p>@product.Id @product.Name @product.PriceTry @product.PictureUri</p>
}
