@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Products</h1>

<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card mb-4">
                <div class="card-body">
                    <img src="~/img/products/@product.PictureUri" alt="@product.Name" class="w-100" />
                    <div class="product-name mt-2" title="@product.Name">@product.Name</div>
                    <div class="mt-2">@product.PriceTry</div>
                </div>
            </div>
        </div>
    }
</div>
